<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category id="backend" label="30000">
        <group id="1" label="30001">
            <setting id="backend_url" type="string" label="30010" help="30011">
                <level>0</level>
                <default>localhost</default>
                <constraints>
                    <allowempty>false</allowempty>
                </constraints>
            </setting>
            <setting id="backend_port" type="integer" label="30012" help="30013">
                <level>0</level>
                <default>7777</default>
                <constraints>
                    <minimum>1</minimum>
                    <maximum>65535</maximum>
                </constraints>
            </setting>
        </group>
    </category>
</settings>